* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    padding: 10px 20px;
}

.logo {
    vertical-align: middle;
}

h1 {
    font-size: 45px;
    display: inline;
    vertical-align: middle;
}

.container {
    width: 900px;
    background-color: white;
    margin: 40px auto 20px;
}

.container-header {
    border-bottom: 1px solid #f6f8f9;
    padding: 15px 60px 10px
}

.button {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}

.blue {
    width: 80px;
    background-color: #47adf1;
    color: white;
    border: 2px solid #47adf1;
}

.white {
    width: 100px;
    color: #c7ccd1;
    border: 2px solid #c7ccd1
}


.division {
    margin-top: 30px;
    margin-left: 50px;
}

.main-list {
    list-style-position: inside;
    list-style-type: none;
}

.down-arrow {
    font-size: 20px;
    vertical-align: baseline;
}

h2 {
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 5px;
}

.secundary-list {
    list-style-position: inside;
    list-style-type: none;

}

li {
    margin-bottom: 15px;
}

.checkmark {
    color: green;
}

.ballot {
    color: red;
}

.todo {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

.little-button {
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.blue-2 {
    width: 60px;
    background-color: #47adf1;
}

.purple {
    width: 70px;
    background-color: #9c72e4;
}

.green {
    width: 75px;
    background-color: #64c0a9;
}

.orange {
    width: 55px;
    background-color: #f29e33;
}

.pink {
    width: 70px;
    background-color: #d863a1;
}

.gold {
    width: 50px;
    background-color: #b0c926;
}



